@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
html {
  box-sizing: border-box;
}
*, *::before, ::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.team__item {
  display: flex;
}
.team__inner {
  display: flex;
  justify-content: space-evenly;
}
h2 {
  text-align: center;
  font-size: 51px;
  font-family: "Playfair Display", serif;
  font-weight: 800;

}
.team__text {
  max-width: 400px;
  padding-left: 20px;
}
h3 {
  font-size: 28px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin: 0;
}
p {
  font-size: 17px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}