@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html {
  box-sizing: border-box;
}
*, *::before, ::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
html{scroll-behavior: smooth;}

h2 {
  font-size: 51px;
  font-family: "Playfair Display", serif;
  font-weight: 800;
}
h3 {
  font-size: 28px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin: 0;
}
p {
  font-size: 17px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
h4 {
  font-size: 42px;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
}
h5 {
  font-size: 27px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
h6 {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}
/* menu */
.menu {
  display: flex;
  justify-content: space-between;
  max-width: 1245px;
}
.menu ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.menu li {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding-right: 106px;
}
.menu li:hover {
  opacity: 0.7;
  cursor: pointer;
}
.menu li:first-child {
  font-weight: 800;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu img {
  align-self: center;
  cursor: pointer;
}
/* header */
.header {
  background-image: url(../img/pexels-expect-best-323780\ 1.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 739px;
  padding-top: 100px;
}
.header__title {
  width: 691px;
  height: 550px;
  background-color: rgb(255, 255, 255, 0.8);
  text-align: center;
  padding-top: 70px;
}
.header h6 {
  width: 438px;
  text-align: center;
  margin: 0 auto;
}
/* services */
.services {
  min-height: 384px;
  background-color: rgb(37,77,77,0.2);
}
.services__block {
  display: flex;
  justify-content: space-evenly;
}
.services__title {
  text-align: center;
}
.services__item {
  text-align: center;
}
.services h2 {
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 40px;
}
.services__item h5 {
  margin: 0 auto;
  padding: 0;
}
.services__item p {
  margin: 0 auto;
  padding: 0;
  max-width: 158px;
}
/* about */
.about {
  display: flex;
}
.about__img {
  margin-left: -30px;
  width: 100%;
}
.about_right {
  margin-left: 80px;
  padding-top: 20px;
}
.about_right p {
  font-size: 31px;
}
.about_right p {
  font-size: 31px;
  max-width: 456px;
}
.about_right h6 {
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
.about_right h6:hover {
  opacity: 0.8;
}
/* project */
.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.project__item p {
  text-align: center;
}
/* team */
.team__item {
  display: flex;
  margin-bottom: 120px;
}
.team__inner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.team h2 {
  text-align: center;
  margin-top: 70px;
}
.team__item img {
  align-self: center;
}
.team__text {
  max-width: 400px;
  padding-left: 20px;
}
/* footer */
.footer {
  background-color: #2E2F32;
  color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  padding: 57px 80px 40px;
}
.contacts {
  display: flex;
  justify-content: space-between;
}
.archiweb h4 {
  font-size: 42px;
  margin: 0;
  margin-top: -10px;
}
.archiweb h6 {
  font-size: 17px;
  line-height: 29px;
  width: 280px;
  margin: 0;
  margin-top: 15px;
}
.icons {
  margin-top: 30px;
}
.icons__item {
  margin-right: 20px;
  cursor: pointer;
}
.icons__item:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.articles {
  margin-left: 140px;
}
.articles__title {
  font-size: 24px;
  font-weight: 800;
  margin: 0;
}
.articles__item {
  font-size: 17px;
  line-height: 29px;
  width: 201px;
  margin: 0;
  margin-top: 10px;
}
.location h4 {
  font-size: 24px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 20px;
}
iframe {
  width: 295px;
  height: 221px;
}

@media screen and (min-device-width:1300px) {
.project__item {
  margin-left: 40px;
  margin-right: 40px;
}
}
@media screen and (max-device-width: 992px) {
h2 {
  font-size: 40px;
}
h6 {
  font-size: 22px;
}
h5 {
  font-size: 22px;
  font-weight: 600;
}
p {
  font-size: 16px;
}
.menu ul {
flex-wrap: wrap;
margin-left: 150px;
}
.header {
  padding: 0;
  padding-top: 100px;
}
.header__title  {
  width: 550px;
  height: 450px;
}
.about {
  flex-direction: column;
}
.about_right {
  text-align: center;
  margin: 0 auto;
}
.about_right p {
  font-size: 31px;
  max-width: 900px;
}
.about__img {
  margin: 0 auto;
}
.footer {
  padding: 57px 40px 40px;
}
.articles {
  margin-left: 50px;
}
}
@media screen and (max-device-width: 768px) {
h2 {
  font-size: 32px;
}
h6 {
  font-size: 18px;
}
h5 {
  font-size: 20px;
  font-weight: 600;
}
p {
  font-size: 14px;
}
.menu ul {
  flex-wrap: wrap;
  margin-left: 100px;
}
.menu li {
  padding-right: 60px;
}
.header {
  /* margin-top: -40px;  */
}
.header__title h2 {
  margin: 0 auto;
}
.header__title  {
  margin: 0 auto;
  width: 400px;
  height: 300px;
  padding-top: 50px;
}
.header h6 {
  max-width: 308px;
}
.about_right p {
  font-size: 24px;
}

.footer {
  flex-direction: column;
  padding: 57px 100px 40px;
}
.archiweb h4 {
  font-size: 32px;
}
.archiweb h6 {
  font-size: 14px;
}
.articles__title {
  font-size: 20px;
}
.articles__item {
  font-size: 14px;
  line-height: 20px;
  width: 201px;
}
.location {
  margin-top: 40px;
}
}
@media screen and (max-device-width:576px) {
.menu ul {
  margin-left: 30px;
}
.header__title  {
  margin: 0 auto;
  max-width: 400px;
}
.services__block {
  flex-wrap: wrap;
}
.services__item p {
  margin-bottom: 25px;
}
.contacts {
  flex-direction: column;
}
.articles {
  margin-left: 0;
  margin-top: 40px;
}
}
@media screen and (max-device-width:420px) {
h4 {
  font-size: 30px;
  font-weight: bold;
}
.menu ul {
  margin-left: 0;
}
.header__title {
  margin-top: -50px;
}
.team__item {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.team__text {
  padding-left: 0;
}
.footer {
  padding: 57px 40px 40px;
}
}
@media screen and (max-device-width:350px) {
h2 {
  font-size: 24px;
}
h4 {
  font-size: 22px;
}
h6 {
  font-size: 12px;
}
.menu__title {
  margin-left: -40px;
}
.header__title  {
  max-width: 200px;
  height: 300px;
  padding-top: 40px;
}
.header__title h2 {
  margin-top: 50px;
} 
.header__title h6 {
  margin-top: 20px;
}
.menu li {
  padding-right: 8px;
  font-size: 16px;
}
.header h6 {
  max-width: 230px;
}
.project__item img {
  width: 100%;
  height: auto;
}
.archiweb h6 {
  width: 230px;
}
iframe {
  width: 230px;
  height: 100%;
}
}
/* galery */
.materialboxed {
  display: block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  position: relative;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  -webkit-backface-visibility: hidden;
}

.materialboxed:hover:not(.active) {
  opacity: .8;
}

.materialboxed.active {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none;
}